.page {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
}

* {
  box-sizing: border-box;
  text-align: center;
}



.font-family {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.color{
 color: #777;
}
//work on this next
.background {
  columns: 12px;
}
.width{
  width: 960px;
}

.font-size{
  font-size: 18px;
}

.t-image {
  position: relative;
  top: -14px;
}

header {
  padding: 40px;
  margin-bottom: 20px;
  color: #333;
  background: #ebebeb
}


nav {
    padding: 40px;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #333;
    background: #ebebeb
  }

#section {
    width: 700px; 
    height: 495px; 
    color: rgb(241, 9, 9);
    background: #ebebeb;
    border: 1px solid blue;
    margin-left: 25px;
}

  #division {
    float: left;
    padding: 20px;
    margin-top: -165px;
    background: #214fb3;
    margin-left: -137px;
    width: 600px;
  height: 60px;
  border: 1px solid blue;
   
  }

  #h1{
    float: left;
    padding: 20px;
    margin-top: 40px;
    color: #777;
    background: #ebebeb;
    margin-left: -137px;
    width: 600px;
  height: 60px;
  border: 1px solid blue;
  }

  

aside {
  float: right;
  width: 495px;
  height: 495px;
  padding: 20px;
  margin-right: -575px;
  text-decoration-color: rgb(243, 7, 7);
  background: gray;
  border: 1px solid blue;

}

footer {
  float: bottom;
  padding: 20px;
  clear: both;
  background: #ebebeb;
  margin-top: 20px;
}

article {
    padding: 150px;
    width: 650px;
    height: 5px;
    margin-bottom: 100px;
    margin-left: 20px;
    overflow: auto;
    color: #ebebeb;
    background: #777;
    margin-top: 100px
    
}
/* for nav bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li :hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}